<section class="book">
  <a href="book-idea.handlebars">Submit New Book!</a>
  <img src="../public/images/BookPH.png" alt="{{Book.book_idea}}">
  <div class="book-details">
    <!-- adding in book-details partial card here  -->
    {{>book-details}}
  </div>
</section>
