<div class="new-book-idea">
    <h2 class="page-title">New Book Idea!</h2>
    <form class="form idea-form">
        <div class="idea-form-group">
            <label for="username">User Name:</label>
            <input class="form-input" type="text" id="username" />
        </div>
        <div class="idea-form-group">
            <label for="book-name">Book Name:</label>
            <input class="form-input" type="text" id="book-name" />
        </div>
        <div class="form-group">
            <label for="book-idea">Book Idea:</label>
            <input class="form-input" type="text" id="book-idea" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit New Idea</button>
        </div>
    </form>
  </div>

  <script src="../public/js/idea.js"></script>