<section class="movie">
  <a href="movie-idea.handlebars">Submit New Movie!</a>
  <img src="../public/images/MoviePH.png" alt="{{Movie.movie_idea}}">
  <div class="movie-details">
    <!-- adding in movie-details partial here -->
    {{>movie-details}}
  </div>
</section>

