<div class="new-movie-idea">
    <h2 class="page-title">New Movie Idea!</h2>
    <form class="form idea-form">
        <div class="idea-form-group">
            <label for="username">User Name:</label>
            <input class="form-input" type="text" id="username" />
        </div>
        <div class="idea-form-group">
            <label for="movie-name">Book Name:</label>
            <input class="form-input" type="text" id="movie-name" />
        </div>
        <div class="form-group">
            <label for="movie-idea">Movie Idea:</label>
            <input class="form-input" type="text" id="movie-idea" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit New Idea</button>
        </div>
    </form>
  </div>

  <script src="../public/js/idea.js"></script>