<section class="show">
  <a href="show-idea.handlebars">Submit New Show!</a>
  <img src="../public/images/ShowPH.png" alt="{{TVShow.description}}">
  <div class="tvshow-details">
    <!-- adding show-details partial -->
    {{>show-details}}
  </div>
</section>

