<div class="new-tvshow-idea">
    <h2 class="page-title">New Show Idea!</h2>
    <form class="form idea-form">
        <div class="idea-form-group">
            <label for="username">User Name:</label>
            <input class="form-input" type="text" id="username" />
        </div>
        <div class="idea-form-group">
            <label for="tvshow-name">Show Name:</label>
            <input class="form-input" type="text" id="tvshow-name" />
        </div>
        <div class="form-group">
            <label for="tvshow-idea">Show Idea:</label>
            <input class="form-input" type="text" id="tvshow-idea" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit New Idea</button>
        </div>
    </form>
  </div>

  <script src="../public/js/idea.js"></script>