<div class="new-website-idea">
    <h2 class="page-title">New Website Idea!</h2>
    <form class="form idea-form">
        <div class="idea-form-group">
            <label for="username">User Name:</label>
            <input class="form-input" type="text" id="username" />
        </div>
        <div class="idea-form-group">
            <label for="website-name">Website Name:</label>
            <input class="form-input" type="text" id="website-name" />
        </div>
        <div class="form-group">
            <label for="website-idea">Website Idea:</label>
            <input class="form-input" type="text" id="website-idea" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit New Idea</button>
        </div>
    </form>
  </div>

  <script src="../public/js/idea.js"></script>