<section class="website">
  <a href="website-idea.handlebars">Submit New Website!</a>
  <img src="../public/images/WebsitePH.png" alt="{{Website.description}}">
  <div class="website-details">
    <!-- adding website-details partial -->
    {{>website-details}}
  </div>
</section>
